<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>{% block title_block %} Social {% endblock %}</title>

  {% block css_block %}
  {% endblock %}

</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <form class="form-inline" method="GET">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'App_Login:logout' %}">Logout</a>
      </li>
      <li class="nav-item">
        {% if user.user_profile.profile_pic %}
        <a class="nav-link" href="{% url 'App_Login:profile' %}"><img src="/media/{{user.user_profile.profile_pic}}" width="40px" height="40px" class="rounded-circle"></a>
        {% else %}
        <a class="nav-link" href="{% url 'App_Login:profile' %}"><img src="/media/default.png" width="40px" height="40px" class="rounded-circle"></a>
        {% endif %}
      </li>
    </ul>
  </nav>

  <div class="container" style='padding-top:80px'>
    {% block body_block %} {% endblock %}
  </div>
</body>
</html>
